<% layout("layouts/boilerplate") %> 
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= producto.imagen %>" alt="..." class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%= producto.nombre %></h5>
                <p class="card-text"><%= producto.desc %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Creado por: <%= producto.author.username%></li>
                <li class="list-group-item"><%= producto.precio %> quetzales.</li>
                <li class="list-group-item text-muted">Presentación: <%= producto.unidad %></li>
            </ul>
            <% if (currentUser && producto.author.equals(currentUser._id)) { %>            
                <div class="card-body">
                    <a href="/productos/<%= producto._id %>/edit" class="card-link btn btn-info">Editar Producto</a>
                    <form class="d-inline" action="/productos/<%= producto._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Eliminar Producto</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
    <div class="col-6">
        <% if (currentUser) { %>
        <h2>Dejar un comentario</h2>
        <form action="/productos/<%= producto._id %>/reviews" method="POST" novalidate class="mb-3 validated-form">
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Comentario</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
            </div>
            <button class="btn btn-success">Enviar</button>
        </form> 
        <% } %>
        <% for( let review of producto.reviews ) { %>
            <div class=" card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Estrellas: <%= review.rating %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Por <%= review.author.username %></h6>
                    <p class="card-text">Comentario: <%= review.body %></p>
                    <% if (currentUser && review.author.equals(currentUser._id)) { %>
                    <form action="/productos/<%= producto._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Eliminar</button>
                    </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>




